.header {
  background-color: #a6a192;
  padding: 20px 0;
  border-bottom: 1px solid #e5bf4c;
  box-shadow: #2c2b2b47 0px 1px 5px;
  width: 100%;
}

.containerHeader {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  flex-wrap: wrap;
  gap: 5px;
}

.navContainer {
  display: flex;
  align-items: center;
}
