.searchBox {
  margin: 0 auto;
  width: 100%;
  min-height: 71px;
  padding: 20px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-button-bg);
  border-radius: var(--border-radius);
  box-shadow: rgba(44, 43, 43, 0.28) 0px 4px 12px;
  transition: box-shadow var(--transition-speed);
}

.searchBox:hover {
  box-shadow: rgba(44, 43, 43, 0.35) 0px 6px 16px;
}

.text {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text-primary);
  margin-bottom: 10px;
  text-align: center;
}

.filterBox {
  display: flex;
}

.input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--color-button-bg);
  border-radius: var(--border-radius);
  padding: 12px 15px;
  color: var(--color-text-primary);
  font-size: 16px;
  box-shadow: rgba(44, 43, 43, 0.28) 0px 2px 6px;
  transition:
    border var(--transition-speed),
    box-shadow var(--transition-speed);
}

.input:hover,
.input:focus-within,
.input:focus {
  border: 1px solid var(--color-button-bg-hover);
  box-shadow: rgba(44, 43, 43, 0.35) 0px 3px 8px;
}

.input::placeholder {
  color: var(--color-placeholder);
}

@media screen and (max-width: 375px) {
  .text {
    font-size: 17px;
  }
}
