.containerLogo {
  display: flex;
  align-items: center;
}

.brandLogo {
  color: var(--color-text-primary);
  font-size: 40px;
  font-weight: 600;
  transition: color var(--transition-speed);
  letter-spacing: 3px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.brandLogo:hover {
  color: var(--color-button-bg);
}
