.block {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid var(--color-button-bg);
  border-radius: var(--border-radius);
  padding: 30px 20px;
  background-color: var(--color-bg);
  box-shadow: rgba(44, 43, 43, 0.28) 0px 4px 12px;
}

.logTitle {
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
  color: var(--color-text-secondary);
  font-weight: 600;
}

.buttonForm {
  display: inline-flex;
  padding: 12px 30px;
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-button-text);
  background-color: var(--color-button-bg);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-speed),
    transform var(--transition-speed);
  margin-top: 15px;
  justify-content: center;
  width: 100%;
}

.buttonForm:hover,
.buttonForm:focus {
  background-color: var(--color-button-bg-hover);
  transform: scale(1.05);
}

.link {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--color-text-primary);
}

.linkreg {
  color: var(--color-button-bg);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: color var(--transition-speed);
}

.linkreg:hover,
.linkreg:focus {
  color: var(--color-button-bg-hover);
  text-decoration: underline;
}
