.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  background-color: var(--color-bg);
  padding: 15px 20px;
  border: 1px solid var(--color-button-bg);
  border-radius: var(--border-radius);
  box-shadow: rgba(44, 43, 43, 0.15) 0px 2px 6px;
  flex-wrap: wrap;
}

.contactGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactItem {
  display: flex;
  gap: 8px;
  align-items: center;
}

.phoneLink {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color var(--transition-speed);
}

.phoneLink:hover {
  color: var(--color-button-bg);
}

.icon {
  fill: var(--color-button-bg);
}

.blockBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.button {
  padding: 8px 16px;
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: 14px;
  color: var(--color-button-text);
  background-color: var(--color-button-bg);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-speed),
    transform var(--transition-speed);
}

.button:hover {
  background-color: var(--color-button-bg-hover);
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .contact {
    flex-wrap: nowrap;
  }

  .blockBtn {
    flex-direction: row;
    margin-top: 0;
  }
}
