/* Базові CSS Variables у корені */
:root {
  --color-bg: #dfe4eb; /* світлий фон, як у твоєму HomePage */
  --color-text-primary: #222222; /* темний текст */
  --color-text-secondary: #6580b7; /* синій колір для заголовків */
  --color-link: #6580b7;
  --color-link-hover: #3c5994;
  --color-button-bg: #6580b7;
  --color-button-bg-hover: #3c5994;
  --color-button-text: #ffffff;

  --font-family-base: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --border-radius: 12px;
  --transition-speed: 0.3s;
}

/* Загальні скидання */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color: var(--color-text-primary);
  background-color: #c3cbd6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: color var(--transition-speed);
  color: var(--color-link);
}

a:hover,
a:focus {
  color: var(--color-link-hover);
}

button {
  cursor: pointer;
  font-family: var(--font-family-base);
  color: var(--color-button-text);
  border: none;
  background-color: var(--color-button-bg);
  border-radius: var(--border-radius);
  padding: 0.75em 1.5em;
  font-weight: 600;
  transition: background-color var(--transition-speed),
    transform var(--transition-speed);
}

button:hover,
button:focus {
  background-color: var(--color-button-bg-hover);
  transform: scale(1.05);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  position: relative;
  line-height: 1.5;
  font-size: 18px;
  color: var(--color-text-primary);
  font-weight: 600;
  margin-right: 20px;
  padding: 10px 0;
  cursor: pointer;
}

.link.login {
  margin-right: 0 !important;
}

.active {
  color: var(--color-button-bg);
  position: relative;
}

.link::after,
.active::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 8px;
  width: 0;
  height: 2px;
  background-color: var(--color-button-bg);
  transition: width var(--transition-speed) ease-in-out;
}

.link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 8px;
  width: 0;
  height: 2px;
  background-color: var(--color-button-bg);
  transition: width var(--transition-speed) ease-in-out;
}

.link:hover {
  color: var(--color-button-bg);
}

.link:hover::after,
.link:hover::before {
  width: 100%;
}

.active::after {
  width: 100%;
}

.container {
  max-width: 375px;
  padding: 25px 20px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding: 25px 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 30px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1130px;
    padding: 30px 65px;
  }
}
