.contactList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.contactItem {
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--color-button-bg);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  box-shadow: rgba(44, 43, 43, 0.28) 0px 2px 8px;
  padding: 15px 20px;
  transition: transform var(--transition-speed),
    box-shadow var(--transition-speed);
}

.contactItem:hover {
  transform: translateY(-3px);
  box-shadow: rgba(44, 43, 43, 0.35) 0px 4px 12px;
}

@media screen and (min-width: 768px) {
  .contactList {
    justify-content: center;
  }
}
